body{
    background-color: white;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.top-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-nav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
/*  line-height: 20px; */
}

.top-nav a:hover{
    background-color: #3799a2;
    color: black;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropmenu{
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    background-color: rgba(0,0,0,0.8);
/*     min-width: 142px; */
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropmenu a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropmenu a:hover{
    background-color: #3799a2;
}

.dropdown:hover .dropmenu{
    display: block;
}

.logo-header{
    background-image: url("images/banner1.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px; 
} 
 
@media screen and (max-width: 800px) {

    .top-nav a{
        font-size: 15px;
        padding: 12px 10px;
    }
    .logo-header{
        min-height: 250px;
        margin-top: 40px;
    }
}


@media screen and (max-width: 400px){
    .top-nav{
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        font-size: 14px;
    }

    .top-nav a{
        padding: 10px;
/*         font-size: 14px; */
        width: auto;
        text-align: center;
    }

    .logo-header{
        min-height: 150px;
        margin-top: 65px; 
        background-size: cover;
    }
}


input, textarea{
    width: 100%; 
    max-width: 500px; 
    padding: 15px; 
    font-size: 20px; 
    border-radius: 5px;
    border: 2px solid #ccc; 
    background-color: white; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}


textarea{
    height: 150px;
    resize: vertical;
}


#btn {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-sizing: border-box;
}

#btn:hover {
    background-color: blue;
}


@media (max-width: 768px) {
    input, textarea, #btn {
        max-width: 100%;
        font-size: 18px; 
    }

    form {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    input, textarea, #btn {
        font-size: 16px; 
    }

    form {
        padding: 15px;
    }
}

.footer-container{
    width:100%;
    background-color: #231f20;
    padding: 15px;
    box-sizing: border-box;
    
}

.footer-text {
    color: white;
    text-align: center;
    padding-bottom:15px;   
}

.footer-text a{
    text-decoration: none;
    color: white;
    display: block;
/*     margin: 5px 0; */
}

.footer-icon img{
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 10;
    padding-bottom:15px;
}



@media (max-width: 800px) {
    .footer-container {
        padding: 10px;
    }

    .footer-text a{
        font-size: 14px;
    }

    .footer-icon img{
        width: 50%;
}
}
@media (max-width: 400px){
    .footer-container {
        padding: 10px;
    }

    .footer-text a{
        font-size: 12px;
    }

    .footer-icon img{
        width: 60%;
    }

    .footer-text{
        padding-bottom: 10px;
    }

    .footer-icon {
        margin-top: 10px;
    }
}